.h-100 {
    height: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.pointer {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}